{% extends 'app/base.html' %}

{% block title %}Association Registration {% endblock %}

{% block content %}

<h1>Register as an association</h1>


<form method="post">
  {% csrf_token %}
  <div class="fieldset">
    {% for field in form1 %}
    <div class="field">
      <p>{{ field.label }}</p>
      <p>{{ field }}</p>
      <p>{{ field.help_text|safe }}</p>
    </div>
    {% endfor %}
    {% for field in form2.visible_fields %}
    <div class="field">
      <p>{{ field.label }}</p>
      <p>{{ field }}</p>
      <p>{{ field.help_text|safe }}</p>
    </div>
    {% endfor %}
  </div>

  <div class="terms-con">
    <ul>
      <li><input type="checkbox" id="terms" name="name"></li>
      <li><p>I agree with the <a href="#">terms and conditions of the site</a> </p></li>
    </ul>
  </div>
  <button type="submit" id="registerBtn" name="button" disabled="disabled">Register</button>
</form>

{% endblock %}
