{% extends 'app/base.html' %}

{% load crispy_forms_tags %}

{% load staticfiles %}
{% block title %}Association Registration {% endblock %}

{% block content %}
<div class="title">
<img src="{%static "img/register.jpeg" %}">
<div class="container">
  <h1>Association Registration</h1>
</div><!-- /container -->
</div><!-- /logo -->
<div class="body">
<div class="row">
  <div class="col-md-8">
        <p>Register as <a href="{%url 'member:register'%}"><button type="button" class="btn btn-success">User</button></a></p>
		<form method="post">
				{% csrf_token %}
					<div class="fieldset">
  						{% for field in form1 %}
  								{{ field|as_crispy_field }}
  								<span>{{ field.help_text|safe }}</span>
                  <!-- <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div> -->
  						{% endfor %}
  						{% for field in form2 %}
  								{{ field|as_crispy_field }}
  						{% endfor %}

					</div>

					<div class="terms-con">
						<ul>
							<li><input type="checkbox" id="terms" name="name"></li>
							<li><a href="{%url 'main:terms_conditions'%}">I agree with the terms and conditions of the site</a></li>
						</ul>
					</div>
				<button type="submit" id="registerBtn" name="button" class="btn btn-default">Register</button>
		</form>

  </div>
</div>
</div>

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
  console.log('Loaded');

  $('input#id_initials').change(function(){
      $('input#association_id').val($(this).val());
  });


  console.log($('input#association_id').val());
  // console.log($('input#identifier_id').val());
  //
  // $('#terms').click(function(){
  //   // check if the checkbox is checked
  //   if($(this).is(':checked')){
  //     $('#registerBtn').removeAttr('disabled');
  //   }else{
  //     $('#registerBtn').attr('disabled', 'disabled');
  //   }
  // });
  //
  $(function(){
    $('#id_year_of_creation').datepicker({ dateFormat: 'yy-mm-dd'});
  });



});
</script>
{% endblock %}
