{% extends 'app/base.html' %}

{% load crispy_forms_tags %}


{% block title %}Association Registration {% endblock %}

{% block content %}

<div class="container">
<div class="row">
  <div class="col-md-8">
    <div class="page-header">
      <h1>Register as an association</h1>
    </div>

		<form method="post">
				{% csrf_token %}
					<div class="fieldset">
						{% for field in form1 %}
								{{ field|as_crispy_field }}
								<span>{{ field.help_text|safe }}</span>
						{% endfor %}
						{% for field in form2.visible_fields %}
								{{ field|as_crispy_field }}
						{% endfor %}
					</div>

					<div class="terms-con">
						<ul>
							<li><input type="checkbox" id="terms" name="name"></li>
							<li><a href="#">I agree with the terms and conditions of the site</a></li>
						</ul>
					</div>
				<button type="submit" id="registerBtn" name="button" disabled="disabled">Register</button>
		</form>

  </div>
</div>
</div>

{% endblock %}
