{% extends 'app/base.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block head_title %}{{block.super}}| Member Registration{% endblock %}

{% block content %}
<div class="title">
<img src="{%static "img/register.jpeg" %}">
<div class="container">
  <h1>User Registration</h1>
</div><!-- /container -->
</div><!-- /logo -->
<div class="new">
    <div class="wrapper">
    <div class="main">
        <div class="container">
        <div class="row">
            <div class="col-lg-9">
              <div class="section">
            <p>Register as <a href="{%url 'association:register'%}"><button type="button" class="btn btn-success">Association</button></a></p>
            <form method="post">
        				{% csrf_token %}
        					<div class="fieldset">
          						{{ f | crispy }}
                      {{ f1 | crispy }}

        					</div>

        					<div class="terms-con">
        						<ul>
        							<li><input type="checkbox" id="terms" name="name"></li>
        							<li><a href="{%url 'main:terms_conditions'%}">I agree with the terms and conditions of the site</a></li>
        						</ul>
        					</div>
        				<button type="submit" id="registerBtn" name="button" class="btn btn-default">Register</button>
        		</form>
       </div>
    </div>
</div>
</div><!--/container -->

</div><!--/main-->

</div><!--/wrapper-->

</div><!--/new-->
{% endblock %}
